<ion-view title="All Dreams" id="page2">
  <ion-content padding="true" style="background: url(img/UACHEK3RRGGPr0pN5Axf_12223598224_16c2f67a6c_k.jpg) no-repeat center;background-size:cover;" class="has-header">
    <!-- <button id="showDream-button7" ng-click="getUserDreams()" class="button button-positive button-block button-outline">Get User's Dreams</button> -->
    <div id="showDream-container1" ng-repeat="dream in userDreamsAll">
      <ion-list id="showDream-list7" ui-sref="menu.user()">
        <ion-item class="item-avatar transparent" id="showDream-list-item7">
          <h2>{{dream.dream_date}}</h2>
          <p>{{dream.body}}</p>
          <ion-option-button ng-click="deleteDream(dream)" class="button-assertive">Delete</ion-option-button>
          <ion-option-button ng-click="editDream(dream)" class="button-balanced">Edit</ion-option-button>
        </ion-item>
      </ion-list>
      <div class="spacer" style="width: 300px; height: 10px;"></div>
    </div>
  </ion-content>
</ion-view>
