<ion-view view-title="New Dream">
  <ion-content padding="true" class="has-header">
    <form name="newDreamForm" class="list">
      <label class="item item-input transparent" style="border-radius: 8px 8px 8px 8px">
        <span class="input-label">Date</span>
        <input ng-model="newDream.dream_date" type="date" required>
      </label>
      <div class="spacer" style="width: 290px; height: 10px;"></div>
      <label ng-if="!postDreamError" class="item item-floating-label item-input transparent" name="body" style="border-radius: 8px 8px 8px 8px">
      <textarea ng-if="!postDreamError" rows="6" placeholder="Describe your dream" ng-model="newDream.body" required ></textarea></label>

      <!-- Swaps in if dream body is empty on submit -->
      <label style="border-color:red;border-width:1px; border-radius: 8px 8px 8px 8px" ng-if="postDreamError" class="item item-floating-label item-input transparent" name="body">
      <textarea ng-if="postDreamError"  rows="6" placeholder="Describe your dream" ng-model="newDream.body" required ></textarea></label>

      <div class="spacer" style="width: 290px; height: 10px;"></div>
      <!-- Ready to record button -->
      <button ng-if="recordButton" class="button button-royal" ng-click="record()" type="button" name="button" style="width:100%;">
        <i class="icon ion-mic-a"></i> Record
      </button>
      <!-- Listening record button -->
      <button ng-if="!recordButton" class="button button-assertive" type="button" name="button" style="width:100%;">
        <i class="icon ion-mic-a"></i> Listening
      </button>
      <div class="spacer" style="width: 290px; height: 10px;"></div>

      <label class="item item-input transparent" name="interpretation" style="border-radius: 8px 8px 8px 8px">
        <textarea rows="4" placeholder="Self Interpretation" ng-model="newDream.interpretation"></textarea></label>
      <div class="spacer" style="width: 290px; height: 10px;"></div>
      <div class="item range transparent" style="border-radius: 8px 8px 0px 0px">
        <span class="input-label">Lucidity<span ng-model="newDream.lucidity" class="lucid-meter">{{newDream.lucidity}}</span></span>

        <i class="icon ion-ios-cloudy-night-outline"></i>
        <input type="range" min="0" max="10" step="1" name="lucidity" ng-model="newDream.lucidity">
        <i class="icon ion-ios-moon-outline"></i>
      </div>


      <ul>
        <li class="item item-toggle transparent">Nightmare
          <label class="toggle toggle-assertive">
            <input ng-model="newDream.nightmare" type="checkbox" name="nightmare">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </li>

        <li class="item item-toggle transparent">Recurring
          <label class="toggle toggle-balanced">
            <input ng-model="newDream.recurring" type="checkbox" name="recurring">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </li>
      </ul>


      <label class="item item-select transparent" name="emotion" style="border-radius: 0px 0px 8px 8px">
        <span class="input-label">Emotion</span>
        <select ng-model="newDream.emotion">
          <option default value="">How did you feel?</option>
          <option value="afraid">Afraid</option>
          <option value="angry">Angry</option>
          <option value="anxious">Anxious</option>
          <option value="aroused">Aroused</option>
          <option value="confused">Confused</option>
          <option value="excited">Excited</option>
          <option value="frustrated">Frustrated</option>
          <option value="happy">Happy</option>
          <option value="indifferent">Indifferent</option>
          <option value="sad">Sad</option>
          <option value="silly">Silly</option>
        </select>
      </label>
    <div class="spacer" style="width: 290px; height: 10px;"></div>

    <button type="submit" ng-click="createDream(newDream)" class="button button-positive button-balanced" style="width: 100%;">Save</button>
    <div class="spacer" style="width: 290px; height: 5px;"></div>

    <div id="dream-error" ng-if="postDreamError" class="show-list-numbers-and-dots">
      <p style="color:#FF0000;font-size:18px;text-align:center;">{{postDreamError}}</p>
    </div>

  </form>
  </ion-content>
</ion-view>
