<ion-view view-title="New Dream">
  <ion-content padding="true" class="has-header">
    <form name="newDreamForm" class="list">
      <label class="item item-input">
        <span class="input-label">Date</span>
        <input ng-model="newDream.dream_date" type="date" required>
      </label>

      <label class="item item-floating-label item-input" name="body">
      <textarea rows="8" placeholder="Describe your dream" ng-model="newDream.body" required ></textarea></label>

      <div style="height: 7px;"></div>
      <!-- Ready to record button -->
      <button ng-if="recordButton" class="button button-royal" ng-click="record()" type="button" name="button" style="width: 100%;">
        <i class="icon ion-mic-a"></i> Record
      </button>
      <!-- Listening record button -->
      <button ng-if="!recordButton" class="button button-assertive" type="button" name="button" style="margin: auto;">
        <i class="icon ion-mic-a"></i> Listening
      </button>
      <div style="height: 7px;"></div>

      <label class="item item-input" name="interpretation">
        <textarea rows="4" placeholder="Self Interpretation" ng-model="newDream.interpretation"></textarea></label>

      <div class="item range">
        <span class="input-label">Lucidity</span>
        <i class="icon ion-ios-cloudy-night-outline"></i>
        <input type="range" min="0" max="10" step="1" name="lucidity" ng-model="newDream.lucidity">
        <i class="icon ion-ios-moon-outline"></i>
      </div>


      <ul>
        <li class="item item-toggle">Nightmare
          <label class="toggle toggle-assertive">
            <input ng-model="newDream.nightmare" type="checkbox" name="nightmare">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </li>

        <li class="item item-toggle">Recurring
          <label class="toggle toggle-balanced">
            <input ng-model="newDream.recurring" type="checkbox" name="recurring">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </li>
      </ul>


      <label class="item item-select" name="emotion">
        <span class="input-label">Emotion</span>
        <select ng-model="newDream.emotion">
          <option default value="">How did you feel?</option>
          <option value="afraid">Afraid</option>
          <option value="angry">Angry</option>
          <option value="anxious">Anxious</option>
          <option value="aroused">Aroused</option>
          <option value="confused">Confused</option>
          <option value="excited">Excited</option>
          <option value="frustrated">Frustrated</option>
          <option value="happy">Happy</option>
          <option value="indifferent">Indifferent</option>
          <option value="sad">Sad</option>
          <option value="silly">Silly</option>
        </select>
      </label>
    <div style="height: 7px;"></div>
    <button type="submit" ng-click="createDream(newDream)" class="button button-positive button-balanced" style="width: 100%;">Save</button>
    <div style="height: 7px;"></div>
  </form>
  </ion-content>
</ion-view>
