<ion-view title="Jun 6th, 2017">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-stable icon ion-ios-arrow-back"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-stable icon ion-android-create"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div class="show-list-numbers-and-dots">
      <p style="color:#000000;">This is a default dream this is a default dream this is a default dream this is a default dream this is a default dream this is a default dream this is a default dream this is a default dream this is a default dream this is a default dream this
        is a default dream this is a default dream this is a default dream this is a default dream this is a default dream this is a default dream this is a default dream this is a default dream this is a default dream this is a default dream ...</p>
    </div>
    <h4 style="color:#000000;font-weight:400;">Interpretation</h4>
    <div class="show-list-numbers-and-dots">
      <p style="color:#000000;">Here are some thoughts and some thoughts and some thoughts and some thoughts and some thoughts and some thoughts and some thoughts and some thoughts and some thoughts and some thoughts and some thoughts and some thoughts.</p>
    </div>
    <ion-list>
      <ion-item class="item-icon-left">
        <i class="icon ion-ios-eye"></i>Lucidity: 5</ion-item>
      <ion-item class="item-icon-left">
        <i class="icon ion-social-freebsd-devil"></i>Nightmare: No</ion-item>
      <ion-item class="item-icon-left">
        <i class="icon ion-reply-all"></i>Reoccurring: Yes</ion-item>
      <ion-item class="item-icon-left">
        <i class="icon ion-heart-broken"></i>Emotion: Excitement</ion-item>
    </ion-list>
  </ion-content>
</ion-view>
