<ion-view title="{{dream.dream_date | date: 'EEEE, MMMM dd yyyy'}}">
  <ion-content padding="true" class="has-header">
      <h3>{{dream.dream_date | date:'MMM dd yyyy'}}</h3>
    <h4>Dream:</h4>
    <div class="show-list-numbers-and-dots">
      <p>{{dream.body}}</p>
    </div>
    <h4>Interpretation:</h4>
    <div class="show-list-numbers-and-dots">
      <p>{{dream.interpretation}}</p>
    </div>
    <ion-list>
      <ion-item class="item-icon-left">
        <i class="icon ion-ios-eye"></i>Lucidity: {{dream.lucidity}}</ion-item>
      <ion-item class="item-icon-left">
        <i class="icon ion-social-freebsd-devil"></i>Nightmare: {{dream.nightmare}}</ion-item>
      <ion-item class="item-icon-left">
        <i class="icon ion-reply-all"></i>Reoccurring: {{dream.recurring}}</ion-item>
      <ion-item class="item-icon-left">
        <i class="icon ion-heart-broken"></i>Emotion: {{dream.emotion}}</ion-item>
    </ion-list>

    <button ng-click="editDream(dream)" class="button-balanced">Edit</button>


  </ion-content>
</ion-view>
