<ion-view title="Dream Meanings and Symbols" id="page4">
  <!-- <ion-content padding="true" class="has-header"> -->
  <ion-content padding="true" style="background: url(img/UACHEK3RRGGPr0pN5Axf_12223598224_16c2f67a6c_k.jpg) no-repeat center;background-size:cover;" class="has-header">
    <input ng-model="searchFilter.symbol" type="search" class="form-control input-sm search-form" placeholder="Filter">
    <div ng-repeat="theme in symbols | filter:searchFilter | orderBy:symbol">
  <!-- <button ng-click="getAllSymbols()" class="button-balanced">Browse Dream Symbols</button> -->


  <ion-list>
    <ion-item class="item-avatar transparent">
      <h2>{{theme.symbol}}</h2>
      <p>{{theme.meaning}}</p>
    </ion-item>
    <div class="spacer" style="width: 300px; height: 10px;"></div>

  </div>
    </ion-content>
</ion-view>
