<ion-view cache-view="false" title="User" id="page1">
  <ion-content padding="true" style="background: url(img/UACHEK3RRGGPr0pN5Axf_12223598224_16c2f67a6c_k.jpg) no-repeat center;background-size:cover;" class="has-header">
<div class="text-center graph-card">


    <h4 class="text-center graph-card">Dream Statistics: {{userName}}</h4>

    <div google-chart chart="chartObject" class="chart-container graph-card"></div>
</div>
<div class="card transparent">
    <div class="row cell-row">
      <div class="col cell">
        <h5>Dreams Recorded:</h5>
      </div>
      <div class="col cell">
         <h5>{{totalDreams}}</h5>
      </div>
    </div>
    <div class="row cell-row">
      <div class="col cell">
        <h5>Average Dream Lucidity:</h5>
      </div>
      <div class="col cell">
         <h5>{{avgLucidity}}%</h5>
      </div>
    </div>
    <div class="row cell-row">
      <div class="col cell">
        <h5>Nightmares:</h5>
      </div>
      <div class="col cell-sm">
         <h5>{{numNightmare}}</h5>
      </div>
      <div class="col cell-sm">
         <h5>{{avgNightmares}}%</h5>
      </div>
    </div>
    <div class="row cell-row">
      <div class="col cell">
        <h5>Recurring Dreams:</h5>
      </div>
      <div class="col cell-sm">
         <h5>{{numRecurring}}</h5>
      </div>
      <div class="col cell-sm">
         <h5>{{avgRecurring}}%</h5>
      </div>
    </div>
</div>
  </ion-content>
</ion-view>
